<body id="session_new_body">


<div id='login_form'>
  <div id="login_info">
    <h1>Login</h1>
    <p id="notice"><%= notice %></p>
  </div>
      <%= form_tag '/login' do %>

        Email: <%= text_field_tag :email %>
        Password: <%= password_field_tag :password %>
        <%= submit_tag "Submit" %>
      <% end %>
</div>
</body>