<h1>New User</h1>
<body class="background">
  <div id="all_registration">
    <div>
      <ul>
        <li>
          <span>There are currently <%= User.all.count %> user(s) in this organization.</span>
        </li>
        <li>
          <span>There are currently <%= User.where(admin:true).count %> admin user(s) in this organization.</span>
        </li>
        <li>
          <span>There are currently <%= User.where(admin:false).count %> regular user(s) in this organization.</span>
        </li>
      </ul>
    </div>
    <div id='registration_form'>
      <%= form_for :user, html: {class: 'pure-form pure-form-stacked'}, url: '/users/new' do |f| %>
          <fieldset>
            <%= label_tag(:email, 'Email') %>
            <%= f.email_field :email, placeholder: 'Enter e-mail' %>
            <span class="pure-form-message">This is a required field.</span>

            <%= label_tag(:phone, 'Phone') %>
            <%= f.number_field :phone, placeholder: 'Enter phone number' %>
            <span class="pure-form-message">Must be an integer between 0 and 9999999999999</span>

            <%= label_tag(:age, 'Age') %>
            <%= f.number_field :age, placeholder: 'Enter age' %>
            <span class="pure-form-message">Must be an integer between 0 and 200</span>

            <%= label_tag(:password, 'Password') %>
            <%= f.password_field :password, placeholder: 'Enter password' %>
            <span class="pure-form-message">This is a required field.</span>

            <% if session[:admin]=="t" %>
              <%= label_tag(:admin , 'Admin?') %>
              <%= f.select :admin, ['Yes', 'No'] %>
              <span class="pure-form-message">You're admin so you can add other people as admin or regular user</span>
            <%else %>
              <% if User.all.count<1 %>
                <span class="pure-form-message">You are the first one to register to this organization and will be an admin automatically</span>
              <% else %>
                <span class="pure-form-message">You are registering as a regular user as you are not an admin</span>
              <% end %>
            <% end %>
            <button type="submit" class="pure-button pure-button-primary">Sign up</button>
          </fieldset>
      <% end %>
        <% if flash[:signup_error].present? %>
          <p><%= flash[:signup_error] %>
        <% end %>
    </div>
  </div>
  <%= link_to 'Back', users_path %>
</body>