
<p id="notice"><%= notice %></p>
<p>Que?</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Pw:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Admin:</strong>
  <%if @user.admin.to_s=="t" %>
    <p>You are an admin user</p>
    <p>You can add other users <a href="/users/new" id="addUserHere">here</a></p>
  <% else %>
    <p>You are a regular user</p>
  <% end %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>