<body id="organizations_index_body">

<div id="all_orgs">
  <p id="notice"><%= notice %></p>

  <h1>Organizations</h1>

  <table>
    <thead>
      <tr>
        <% if request.host.to_s=='localhost'%>
        <th>Name </th>
        <th>Subdomain</th>
        <th colspan="3"></th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %> </td>
          <td> <%= organization.subdomain %></td>
          <td><%= link_to 'Go to this organization', organization %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if request.host.to_s=="localhost" %>
    <%= link_to 'New Organization', new_organization_path %>
  <% end %>
</div>
</body>