<body id="organization_new_body">

 <div id='registration_form'>
    <%= form_for :organization, html: {class: 'pure-form pure-form-stacked'}, url: '/organizations/new' do |f| %>
      <fieldset>
         <legend>Sign Up for a new organization</legend>
           <%= label_tag(:name, 'Name') %>
          <%= f.text_field :name, placeholder: 'Enter name' %>
          <span class="pure-form-message">Unique string between length of 0 and 30.</span>

          <%= label_tag(:subdomain, 'Subdomain') %>
          <%= f.text_field :subdomain, placeholder: 'Enter subdomain' %>
          <span class="pure-form-message">Unique string between length of 0 and 30.</span>

          <button type="submit" class="pure-button pure-button-primary">Sign up</button>
        </fieldset>
    <% end %>
      <p id="notice"><%= notice %></p>
  </div>

<%= link_to 'Back', organizations_path %>
</body>