<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @organization.subdomain %>
</p>

<a href=<%= @organization.subdomain%>.lvh.me:3000/users/new>Sign up for this organization (Please right click choose to open in new window)</a>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
