<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @organization.subdomain %>
</p>

<ul>
<li><a href=<%= @organization.subdomain%>.lvh.me:3000/users/new>Sign up for this organization (Please right click choose to open in new tap)</a></li>

<li><a href=<%= @organization.subdomain%>.lvh.me:3000/login>Login to this organization (Please right click choose to open in new tap)</a></li>


<li><%= link_to 'Back', organizations_path %></li>
</ul>